.avtive-router:deep(.el-icon) {
  background-color: #0960bd !important;
  color: #fff !important;
  border-radius: 0;
}
:deep(.el-tag__close) {
  background-color: #1890ff;
  color: #fff;
  border-radius: 0;
}
.avtive-router {
  background-color: #0960bd !important;
  color: #fff !important;
  border: 1px solid #0960bd !important;
}

.m-header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
  .content {
    position: relative;
    display: flex;
    padding-right: 6px;
    padding-left: 6px;
    border-bottom: 1px solid #d9d9d9;
    height: 45px;
    line-height: 45px;
    align-items: center;

    .menu-collapse {
      height: 45px;
      font-size: 20px;
      padding: 0 5px;
      color: #4a4949;
      cursor: pointer;
    }
    .menu-collapse:hover {
      background-color: #f6f6f6;
    }
    .to-scroll-left {
      cursor: pointer;
      padding: 0 5px;
      height: 45px;
      line-height: 45px;
      margin-right: 5px;
    }
    .to-scroll-right {
      cursor: pointer;
      padding: 0 5px;
      height: 45px;
      line-height: 45px;
      margin-left: 2px;
    }
    .nav-config {
      cursor: pointer;
      padding: 12px 5px;
      height: 45px;
      font-size: 17px;
      line-height: 45px;
      margin-left: 2px;
    }
    .nav-config:hover {
      background-color: #f6f6f6;
    }
    .to-scroll-left:hover {
      background-color: #f6f6f6;
    }
    .to-scroll-right:hover {
      background-color: #f6f6f6;
    }
    .tag-list {
      flex-grow: 1;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      transition: all 0.3s ease;
      line-height: 25px;
      .tag-item {
        margin-right: 5px;
        transition: none;
        font-size: 12px;
        height: 28px;
        cursor: pointer;
        user-select: none;
        border: 1px solid #d9d9d9;
        color: black;
        background-color: white;
        border-radius: 0%;
        :deep(.el-tag .el-tag__close) {
          color: #000000;
        }
      }
      .tag-item:deep(.el-tag__close) {
        color: #000000;
      }
      .tag-item:deep(.el-icon:hover) {
        background-color: #fff;
      }
      .tag-item:deep(.el-icon) {
        background-color: #fff;
      }
    }

    .fullS-screen {
      min-width: 20px;
      padding: 11px 5px;
      cursor: pointer;
    }
    .fullS-screen:hover {
      background-color: #f6f6f6;
    }
    .Avatar {
      width: 30px;
      margin-left: 5px;

      line-height: 25px;
      cursor: pointer;
    }
  }
}
