:deep(.el-card__body) {
  padding: 5px;
}
:deep(.el-card__header) {
  padding: 10px 20px;
}
/*定义整体的宽度*/
.menu-list::-webkit-scrollbar {
  width: 5px;
}
/*定义滚动条轨道*/
.menu-list::-webkit-scrollbar-track {
  border-radius: 5px;
}
/*定义滑块*/
.menu-list::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(190, 190, 190, 0.5);
}
.menu-content {
  display: flex;
}
.box-card1 {
  padding: 0;
  overflow: auto;
  width: 40%;
  margin-right: 5px;
  .card-header {
    height: 35px;
    display: flex;
    align-items: center;
  }
  .menu-list {
    padding: 0 20px 0 20px;
    height: calc(100vh - 135px);
    overflow: auto;
  }
}
.box-card2 {
  width: 60%;
  .card-header {
    display: flex;
    align-items: center;
    height: 35px;
    .menu-iocn {
      text-align: center;
      line-height: 41px;
      height: 35px;
      width: 35px;
      border-radius: 50%;
      background-color: #e6f7ff;
    }
    span {
      margin-left: 10px;
    }
  }
  .menu-form {
    padding: 3px 10px;
    :deep(.el-alert--success.is-light) {
      color: black;
      margin-bottom: 10px;
      background-color: #e6f7ff;
      border: 1px solid #91d5ff;
    }
    :deep(.el-alert__title) {
      font-size: 14px;
    }
  }
}
